<h2 class="header-title">In Progress</h2>
  <div class="list-container">
    <div
      id="todoList"
      class="task-list">
      <div class="item-box todo" *ngFor="let item of inProgressList" cdkDrag>
        <h2>{{item.title}}</h2>
        <p>{{item.content}}</p>
        <p>{{item.status}}</p>
        <div class="box-deadline">{{item.deadline | date}}</div>
        <div class="box-priority">{{item.priority}}</div>
        <mat-action-row>
          <button mat-button>EDIT</button>
          <button mat-button>DELETE</button>
        </mat-action-row>
      </div>
  </div>
</div>
