@import "../../assets/scss/variables";

mat-toolbar{
  background-color: $brown;
  color: white;
  justify-content: center;
  margin-bottom: 2em;
}

.item-link{
  text-decoration: none;
  color: inherit;
}

.navbar{
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}
.navbar-item{
  font-size: 14px;
  margin-right: 2em;
  letter-spacing: 0.07em;
}

.active {
  background-color: $background-color;
  color: $font-color;
  padding: 1.70em;
  border-radius: 2em 2em 0 0;
}
.toggle-menu{
  display: none;
}


@media (max-width: 575.98px) {
  .navbar-item{
    font-size: 12px;
    margin-right: 1em;
    letter-spacing: 0.02em;
  }
  .active{
    padding: 1.80em;
  }
}

@media (max-width: 305px) {
  mat-toolbar{
    display: none;
  }
  .toggle-menu{
    display: flex;
  }
  .item-link{
    margin: 1em;
  }
  .active {
    border: none;
  }
  .mat-menu-item{
    padding-left: 6em;
    padding-right: 6em;
  }

}
