<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Add Task</mat-expansion-panel-header>

    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="title"
          ngModel
          placeholder="Task name"
          required
          #title="ngModel">
          <mat-error *ngIf="title.invalid">Title is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="deadline"
          name="deadline"
          ngModel>
        <mat-datepicker-toggle
          matSuffix
          [for]="deadline">
        </mat-datepicker-toggle>
        <mat-datepicker
            #deadline>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select Option</mat-label>
          <mat-select
            [(ngModel)]="status"
            name="status">
            <mat-option value="todo">To Do</mat-option>
            <mat-option value="inprogress">In Progress</mat-option>
            <mat-option value="done">Done</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        ngModel
        placeholder="Task content">
      </textarea>
      </mat-form-field>

      <mat-card-content>
        <mat-label>Choose Priority</mat-label>
        <mat-grid-list cols="3" rowHeight="2:1">
          <mat-grid-tile>low</mat-grid-tile>
          <mat-grid-tile>middle</mat-grid-tile>
          <mat-grid-tile>high</mat-grid-tile>
        </mat-grid-list>
        <mat-slider
          (input)="onInputChange($event)"
          [(ngModel)]="priority"
          tickInterval="2"
          name="priority"
          value="2"
          min="1"
          max="3"></mat-slider>
      </mat-card-content>

      <button
        mat-button
        type="submit">Save Task</button>
    </form>

  </mat-expansion-panel>
</mat-accordion>



