<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>Add Task</mat-expansion-panel-header>

    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="title"
          ngModel
          placeholder="Task name"
          required
          minlength="3"
          #title="ngModel">
          <mat-error *ngIf="title.invalid">Title is required</mat-error>
      </mat-form-field>

      <mat-form-field>
          <mat-select
            ngModel
            name="selectStatus">
            <mat-option
              *ngFor="let option of selectStatus"
              [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        placeholder="Task content">
      </textarea>
      </mat-form-field>

      <button
        mat-button
        type="submit">Save Task</button>
    </form>

  </mat-expansion-panel>
</mat-accordion>



