@import "../../../assets/scss/variables";

mat-expansion-panel{
  width: 80%;
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

.mat-button{
  color: white;
  background-color: $brown;
}
