<h2 class="header-title">Done</h2>
<div class="list-container">
  <div
    id="todoList"
    class="task-list">
    <div class="item-box todo" *ngFor="let item of doneList" cdkDrag>
      <div class="action-buttons">
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon">create</mat-icon>
        </button>
        <button mat-button>
          <mat-icon aria-hidden="false" aria-label="Example close icon" (click)="deleteDoneTask(item)">close</mat-icon>
        </button>
      </div>
      <h2>{{item.title | titlecase}}</h2>
      <p>{{item.content}}</p>
      <div class="box-deadline">deadline: {{item.deadline | date}}</div>
      <div class="box-priority">priority: {{item.priority | changeStatus}}</div>
    </div>
  </div>
</div>
