
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$To-Do-List-primary: mat-palette($mat-indigo);
$To-Do-List-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$To-Do-List-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$To-Do-List-theme: mat-light-theme((
  color: (
    primary: $To-Do-List-primary,
    accent: $To-Do-List-accent,
    warn: $To-Do-List-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($To-Do-List-theme);

/* You can add global styles to this file, and also import other style files */

@import "assets/scss/variables";

html, body {
  height: 100%;
  background-color: $background-color;
  color: $font-color;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  margin-top: 1rem;
}

.message{
  margin-top: 3em;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}

.list-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin: 3em 7% 3em 5vw;
}

.list-container {
  font-size: 14px;
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.list {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: 1em;
  margin: auto;
  min-height: 50px;
  max-width: 80%;
  background: white;
  border-radius: 4px;
}

.item-box {
  border-radius: 0.5em;
  background: linear-gradient(145deg, #f0f0f0, #ffffff);
  box-shadow:  2px 2px 5px #9f9f9f,
  -5px -5px 13px white;
  text-align: center;
  padding: 2em;
  min-height: 7em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 16px;
}

.header-title{
  text-align: center;
}
