@import "../../../assets/scss/variables";

.cdk-drag-preview {
  background-color: $background-color;
  box-sizing: border-box;
  border-radius: 0.5em;
  box-shadow:2px 2px 5px #9f9f9f,
  -5px -5px 13px white;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

h2{
  font-weight: 400;
  font-size: 20px;
}
#done-title{
  color: $dark-green;
}
#todo-title{
  color: $beige;
}
#inprogress-title{
  color: $brown;
}

.todo{
  color: $beige;
}
.inprogress{
  color: $brown;
}
.done{
  color: $dark-green;
}

mat-action-row{
  padding: 0;
}
